@media (max-width: 768px) {
  #mainNav .navbar-brand {
  }
}

@media (min-width: 768px) {
  #mainNav .navbar-brand {
    min-width: 50%;
  }
}

@media (max-width: 768px) {
  #mainNav .navbar-brand {
    min-width: 80%;
  }
}

@media (min-width: 768px) {
  header.masthead .header-content h1 {
    font-size: 200%;
  }
}

@media (min-width: 415px) and (max-width:768px) {
  header.masthead .header-content h1 {
    font-size: 200%;
  }
}

@media (min-width: 992px) {
  #lead_image {
    height: 100vh;
  }
}

@media (min-width: 768px) {
  #lead_image {
    height: 100vh;
  }
}

@media (max-width: 992px) {
  .btn.btn-outline-warning.btn-xl.js-scroll-trigger {
    visibility: hidden;
    height: 0px;
    max-width: 0px;
    max-height: 0px;
  }
}

@media (min-width: 320px) and (max-width:415px) {
  header.masthead .header-content h1 {
    font-size: 17px;
  }
}

@media (min-width: 300px) and (max-width:768px) {
  #lead_image {
    height: 150px;
  }
}

@media (max-width: 992px) {
  #left_bus {
    background-image: url(../../assets/img/small4_width.png);
    height: 400px;
    width: 100%;
    background-size: cover;
  }
}

@media (min-width: 992px) {
  #left_bus {
    background-image: url(../../assets/img/small_bus.png);
    width: 100%;
    background-size: contain;
    height: 350px;
  }
}

@media (min-width: 992px) {
  #right_bus {
    background-image: url(../../assets/img/large4.png);
    width: 100%;
    background-size: contain;
    height: 350px;
  }
}

@media (max-width: 992px) {
  #right_bus {
    background-image: url(../../assets/img/large4_width.png);
    width: 100%;
    background-size: cover;
    height: 400px;
  }
}

